version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
      POSTGRES_DB: auth_db
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"